<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a asp-area="Dashboard" asp-controller="Home" asp-action="Index"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Inventory</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="Inventory" asp-controller="Inventory" asp-action="Index">Current Inventory</a></li>
            <li><a href="#">Receive Stock</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-cube"></i> <span>Products</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="Products" asp-controller="Products" asp-action="Index">All Products</a></li>
            <li><a asp-area="Products" asp-controller="Category" asp-action="Index">Category Management</a></li>
        </ul>
    </li>
    <li class="header">ADMIN</li>
    <li><a asp-area="Admin" asp-controller="Account" asp-action="Index"><i class="fa fa-user"></i> <span>Accounts</span></a></li>


</ul>