<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="/home"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
    <li><a href="/inventory"><i class="fa fa-clipboard"></i> <span>Inventory</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-cube"></i> <span>Products</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="Admin" asp-controller="Account" asp-action="Index">All Products</a></li>
            <li><a href="#">Category Management</a></li>
        </ul>
    </li>
    <li class="header">ADMIN</li>
    <li><a asp-area="Admin" asp-controller="Account" asp-action="Index"><i class="fa fa-user"></i> <span>Accounts</span></a></li>


</ul>