/*$primary-dark: $blue !default;*/
/*$breakpoints: ( "phone": 400px, "phone-wide": 480px, "phablet": 560px, "tablet-small": 640px, "tablet": 768px, "tablet-wide": 1024px, "desktop": 1248px, "desktop-wide": 1440px );*/
/*$primary-dark: $blue !default;*/
/*$breakpoints: ( "phone": 400px, "phone-wide": 480px, "phablet": 560px, "tablet-small": 640px, "tablet": 768px, "tablet-wide": 1024px, "desktop": 1248px, "desktop-wide": 1440px );*/
body {
  background-color: #f6f6f6; }

.navbar {
  /*height: 200px;*/
  /*.navbar-nav {
        min-height: 33px;
        margin-bottom: 0;
        border-radius: 0;


        li {
            a, .navbar-brand {
                height: 33px;
                padding-top: 4px;
                padding-bottom: 0;
            }
        }
    }*/ }
  .navbar.fixed-top {
    align-items: start; }
  .navbar .nav-search {
    background: none;
    color: #f0f0f0;
    border: none; }
    .navbar .nav-search:active {
      border: none; }
    .navbar .nav-search::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #f0f0f0;
      opacity: 1;
      /* Firefox */ }
    .navbar .nav-search:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #f0f0f0; }
    .navbar .nav-search::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #f0f0f0; }

.background-header {
  position: fixed;
  height: 200px;
  top: 0;
  width: 100%;
  background: #036085; }

.sidebar {
  z-index: 999999;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; }
  .sidebar .sidebar-header {
    background: #036085;
    color: #fff; }

.nav-item.active {
  background-color: #036085;
  color: #f0f0f0; }
  .nav-item.active a {
    color: white; }

header {
  padding-bottom: 10px;
  margin-bottom: 15px; }
  header .create {
    padding-top: 20px; }

.breadcrumb {
  background: #f0f0f0;
  color: #333; }
  .breadcrumb a {
    color: #333; }

.page-header {
  color: #f0f0f0; }

.list-group-item.active {
  background: #036085; }

.card {
  border-radius: 0; }
  .card .card-header {
    background-color: #036085;
    color: #f0f0f0; }

.btn {
  border-radius: 0px; }
  .btn.btn-primary {
    background-color: #023c53;
    color: white; }

.collapse-button {
  position: absolute;
  top: 0;
  margin-left: 0.5em; }

#sidebar {
  overflow: hidden;
  z-index: 999999;
  background: #fff; }

#sidebar .list-group {
  /*min-width: 300px;*/
  min-height: 100vh; }

#sidebar .list-group-item {
  border-radius: 0;
  white-space: nowrap; }

.img-profile {
  height: 50px;
  width: 50px; }

@media (max-width: 768px) {
  #sidebar {
    /*min-width: 35px;
        max-width: 40px;*/
    overflow-y: auto;
    overflow-x: visible;
    transition: all 0.25s ease;
    transform: translateX(-45px);
    /*position: fixed;*/ }
    #sidebar .img-profile {
      width: 25px;
      height: 25px;
      margin-bottom: .7em; }
  #sidebar.show {
    transform: translateX(0); }
  #sidebar::-webkit-scrollbar {
    width: 0px; }
  #sidebar, #sidebar .list-group {
    min-width: 35px;
    overflow: visible; }
  /* overlay sub levels on small screens */
  #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
    position: relative;
    z-index: 1;
    width: 190px;
    top: 0; }
  #sidebar ul > li > a {
    text-align: center;
    padding: .75rem .5rem; }
  /* hide caret icons of top level when collapsed */
  #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
  #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
    display: none; } }

.collapse.show {
  visibility: visible; }

.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.8em; }
