
@{
    @model List<MLDShopping_Admin.Models.AccountVM>;
    ViewData["Title"] = "Accounts";
}



<section class="content container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <div class="card w-100">
                <div class="card-body p-4">
                    <button class="btn btn-primary btn-sm mb-3" onclick="window.location.href = '@Url.Action("Edit", "Account", new { Areas = "Admin" })';">Add New Account</button>

                    <table class="table table-bordered table-hover dataTable dtr-inline mt-3" id="tblAccounts" width="100%">
                        <thead class="thead-dark">
                            <tr>
                                <th>Account Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Permissions</th>
                                <th>Created At</th>
                                <th>Deleted</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>

</section>

@section scripts {
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>

    <script language="javascript">
        $(document).ready(function () {
            var table = $("#tblAccounts").DataTable({
                paging: true,
                responsive: true,
                serverSide: true,
                autoWidth: true,
                ajax: {
                    url: "@Url.Action("Read", "Account", new { area = "Admin"})",
                    type: "POST",
                    contentType: "application/json",
                    data: function (d) {
                        return JSON.stringify(d);
                    },
                    dataSrc: function (json) {
                        console.log(json);
                        if (json.data)
                            return json.data;
                        else
                            return [];
                    }
                },
                columns: [
                    { data: "AccountId"},
                    { data: "FirstName" },
                    { data: "LastName" },
                    {
                        data: "PermissionsString",
                        orderable: false
                    },
                    {
                        data: "CreatedAt",
                        orderable: false
                    },
                    {
                        data: "Deleted",
                        orderable: false
                    },
                    {
                        data: "AccountId",
                        orderable: false,
                        render: function (data, type, account) {
                            return '<a href="/admin/account/edit/' + data + '">Edit</a>';
                        },
                        "autoWidth": true
                    }

                ],
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
            });
            //$('#tblAccounts tfoot th').each(function (i) {
            //    var title = $('#tblAccounts thead th').eq($(this).index()).text();
            //    $(this).html('<input type="text" placeholder="Search ' + title + '" data-index="' + i + '" />');
            //});

            //$('#tblAccounts thead tr').clone(true).appendTo('#tblAccounts thead');

            //$('#tblAccounts thead tr:eq(1) th').each(function (i) {
            //    var title = $(this).text();
            //    $(this).html('<input type="text" placeholder="Search ' + title + '" />');

            //    $('input', this).on('keyup change', function () {
            //        if (table.column(i).search() !== this.value) {
            //            table
            //                .column(i)
            //                .search(this.value)
            //                .draw();
            //        }
            //    });
            //});

        })
    </script>


}