
<header id="header">
    <div class="row">
        <div class="col-12 page-header text-center">
            <h3>
                Welcome back to the main Dashboard
            </h3>
            <p class="small">Manage your shop here</p>
        </div>
        @*<div class="col-2">
                <button class="btn btn-default dropdown-toggle create" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new items</button>

                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item" href="home">Account</a></li>
                    <li><a class="dropdown-item" href="#">Support</a></li>
                    <li><a class="dropdown-item" href="login">Log Out</a></li>
                </ul>

            </div>*@
    </div>
</header>
<section>
    <div class="row mt-3">
        <div class="col-12">
            <div class="row">
                <div class="col-3">
                    <div class="card card-body bg-light">
                        Page Hits
                    </div>
                </div>
                <div class="col-3">
                    <div class="card card-body bg-light">
                        Sales
                    </div>
                </div>
                <div class="col-3">
                    <div class="card card-body bg-light">
                        Users
                    </div>
                </div>
                <div class="col-3">
                    <div class="card card-body bg-light">
                        Promotions
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="card">
                    <div class="card-header">
                        Overview
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>