@import "../abstract/variables";

body {
    background-color: $gray-100;
}

.main-header {
    .navbar {
        max-height: 50px;
        padding: 0 1rem;
    }

    .sidebar-toggle {
        padding: 12.5px 12.5px;
    }
}

.user-panel {
    border-bottom: 1px solid #4f5962;
}

.brand-link {
    border-bottom: 1px solid #4b545c;
    color: rgba(255,255,255,.8);
}

.card {
    border-radius: 0;

    .card-header {
        background-color: $primary;
        color: $secondary;
    }
}

.btn {
    border-radius: 0px;

    &:active {
        border: 1px solid $dark;
        box-shadow: none;
    }

    &.btn-primary {
        background-color: $primary-dark;
        color: white;
    }
}
/*.collapse-button {
    position: absolute;
    top: 0;
    margin-left: 0.5em;
}*/
// Sidebar
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
}
// datatables styling
.dataTables_wrapper {
    width: 100%;
}
/*.sidebar-menu{
    width: 230px;
}
.navbar{
    padding: 0;
    height: 50px;

}

.sidebar-form{
    width: 230px;
}*/
